<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Elenco delle partite | Fubles</title>
    <link href="mobile.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="myfubles.js"></script>
  </head>
  <body style="margin:0">
    <div id="skeleton">
      <div id="body">
        <div id="content" ng-app="myFubles">
          <div id="matches" style="margin:0" ng-controller="MatchesController">
            <div class="tablet-wrapper">
              <h3 style="margin-left:10px">{{title}} - {{matches.length}} matches found</h3>

              <div class="match-scheduled" ng-repeat="match in matches">

                <!-- ****** START MATCH ****** -->
                <div ng-if="matches[$index-1].date != match.date" class="navigation-bar">
                  <span>{{match.weekday}}</span>
                  <span class="bullet-separator"></span>
                  <span>{{match.date}}</span>
                </div>
                
                <div>
                  <div class="box">
                    <div class="leftPanel">
                      <div class="time">
                        <span class="hour" >{{match.hour}}</span>
                        <span class="ampm" >pm</span>
                        <span class="minutes" >.{{match.minute}}</span>
                      </div>
                      <img src="{{match.image}}" >
                    </div>
                    <div class="rightPanel">
                      <div class="title">
                        <span >Calcio a 5</span>
                      </div>
                      <div class="structure">
                        <b >{{match.km}} Km</b> -
                        <span class="name ellipsis">{{match.structure}}</span>
                      </div>

                      <div class="price">
                        <span >&euro; {{match.price}}</span>
                      </div>


                      <div class="empty-spots">
                        <span class="lock-status" ></span>

                        <div class="roww spots take-seat" >{{match.free}}</div>

                      </div>

                    </div>
                    <br style="clear:both">
                  </div>
                </div>
                <!-- ****** STOP MATCH ****** -->

              </div>

            </div>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>
